<section class="descuentos-container">
  <h1>Descuentos</h1>

  <div class="descuentos-grid">

    @for (descuento of descuentos; track descuento.id) {

      <article class="descuento-card">

        <header class="card-header">
          <h2>{{ descuento.descripcion }}</h2>
        </header>

        <div class="card-body">
          <div class="data-item">
            <span class="data-label">Porcentaje:</span>
            <span class="data-value">{{ descuento.porcentaje  }}</span>
          </div>
          <div class="data-item">
            <span class="data-label">Fecha de Inicio:</span>
            <span class="data-value">{{ descuento.fechaInicio }}</span>
          </div>
          <div class="data-item">
            <span class="data-label">Fecha de Fin:</span>
            <span class="data-value">{{ descuento.fechaFin  }}</span>
          </div>
        </div>
        <button (click)="deleteDescuento(descuento.id)">Eliminar</button>
        <button class="button" [routerLink]="['/descuento/editDescuento', descuento.id]" style="background-color: #ffc107; color: black; margin-top: 5px;">Editar</button>
      </article>

    } @empty {
      <p class="empty-state">No hay descuentos disponibles.</p>
    }
  </div>

</section>

