<section class="container-detalle">
  @if(proveedor(); as proveedor){
    <div class="detalle-proveedor-card">
      <button class="btn-volver" (click)="volver()">Volver</button>
      <div class="detalle-content">
        <div class="imagen-container">
          <img [src]="proveedor.imagen" alt="Imagen de {{proveedor.nombre}}">
        </div>

        <div class="info-container">
          <h1>{{ proveedor.nombre }}</h1>

          <p><strong>Teléfono:</strong> {{ proveedor.telefono }}</p>
          <p><strong>Email:</strong> {{ proveedor.email }}</p>
          <p><strong>Dirección:</strong> {{ proveedor.direccion }}</p>
        </div>
      </div>
      <button class="button" [routerLink]='["/proveedores/editProveedores", proveedor.id]' style="background-color: #ffc107; color: black; margin-top: 5px;">Editar</button>
    </div>
  }
</section>

