<nav>
  <a routerLink="/home">Home</a>

  @if (authService.currentUser()?.rol === 'ADMINISTRADOR') {
    <a routerLink="/productos">Gestión de Productos</a>
    <a routerLink="/proveedores">Gestión de Proveedores</a>
    <a routerLink="/descuento">Descuentos</a>
  }
  @if (authService.currentUser()?.rol === 'EMPLEADO') {
    <a routerLink="/existencia">Ver Existencias</a>
     <a routerLink="/productos">Gestión de Productos</a>

  }

  <button (click)="handleAuthAction()">
    @if (authService.estoyLogeado()) {
      Cerrar Sesión ({{ authService.currentUser()?.username }})
    } @else {
      Iniciar Sesión
    }
  </button>
</nav>
