<nav>
  @if (authService.currentUser()?.rol === 'ADMINISTRADOR') {
    <a routerLink="/productos">Gestión de Productos</a>
    <a routerLink="/proveedores">Gestión de Proveedores</a>
    <a routerLink="/descuento"> Gestion de Descuentos</a>
    <a routerLink="/existencia">Gestion de Existencias</a>
    <a routerLink="/empleados">Gestion de Empleados</a>
  }
  @if (authService.currentUser()?.rol === 'EMPLEADO') {
    <a routerLink="/existencia">Gestion de  Existencias</a>
     <a routerLink="/productos">Gestión de Productos</a>

  }

  <button (click)="handleAuthAction()">
    @if (authService.estoyLogeado()) {
      Cerrar Sesión ({{ authService.currentUser()?.username }})
    } @else {
      Iniciar Sesión
    }
  </button>
</nav>
