nav{
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  border-radius: 5px;
  padding: 1.0rem;
  margin:1.0rem;
}

ul{
  display: flex;
  flex-direction: row;
  gap:1.5rem
}

li{
  list-style: none;
}
